{% extends 'base.html' %}
{% block content %}

<!--  <div class="custom-control custom-switch">-->
<!--  <input type="checkbox"  name="Prediction" class="custom-control-input" id="customSwitch4">-->
<!--  <label class="custom-control-label" for="customSwitch4">Prediction</label>-->
<!--</div>-->
<!--<li class="nav-item">-->
<!--        <a class="nav-link" href="">Analyze</a>-->
<!--      </li>-->
<div align="center">

    <div class="custom-control custom-switch">
<input type="checkbox"  name="Prediction" class="custom-control-input" id="customSwitch4">
<label class="custom-control-label" for="customSwitch4">Prediction</label>
</div>

<a class="btn btn-primary" href="{% url 'analyze' %}" role="button">Analyze</a>

</div>
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses', 'Profit'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2016', 660, 1120, 300],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Bajaj finance detailed analysis',
            subtitle: 'Sales, Expenses, and Profit: 2018-2020',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  </body>
</html>



{% endblock %}